img.collection-available-finish-swatch {
    width: 20px;
    height: 20px;
}

div.finish-option-links-wrapper {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
a.collection-finish-link {
    display: block;
    margin-bottom: 6px;
}
